:host {
  display: block;
  margin: 120px auto;
  width: 564px;
  max-width: calc(100vw - 32px);
  padding: 0 16px;
}


header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* https://codepen.io/tyrellrummage/full/ZJPXgy/ */

button {
  background: linear-gradient(to right, hsl(182, 96%, 37%) 0%, hsl(171, 90%, 39%) 100%);
  color: #fff;
  font-weight: 500;
  padding: .5rem 2rem;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  margin-top: 1rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font-size: 14px;
}

table {
  width: 100%;
  table-layout: fixed;
  margin-top: 24px;
}
