<header>
  <h1>ngx-mat-sw-update</h1>
  <div>
    <a href="https://github.com/JanMalch/ngx-mat-sw-update">GitHub</a>&nbsp;&nbsp;<a href="http://npmjs.com/package/ngx-mat-sw-update">npm</a>
  </div>
</header>
<form #myForm="ngForm" (ngSubmit)="register(myForm)" novalidate>
  <div>
    <label>Notification type</label>
    <select name="yourStrategy" [ngModel]="initStrat">
      <option value="SnackBar">SnackBar</option>
      <option value="Dialog">Dialog</option>
    </select>
  </div>
  <div>
    <label>Dialog Designs</label>
    <select name="yourDialogComponent" [ngModel]="initDesign">
      <option value="Basic">Basic</option>
      <option value="Image">Image</option>
      <option value="Padded">Padded Image</option>
    </select>
  </div>
  <div>
    <label>Image URL for Image / Padded Image Dialogs</label>
    <input type="text" name="yourImageUrl" [ngModel]="initImg"/>
  </div>
  <button type="submit">Save and Reload</button>
</form>
<p>
  <small>The ServiceWorker updates are mocked via Angular's DI for this demo. They appear every time you open this
    page. Check out the GitHub repo to learn more about how you can configure these notifications!
  </small>
</p>
