<header>
  <h1>ngx-mat-sw-update</h1>
  <div>
    <a href="https://github.com/JanMalch/ngx-mat-sw-update">GitHub</a>&nbsp;&nbsp;<a
    href="http://npmjs.com/package/ngx-mat-sw-update">npm</a>
  </div>
</header>

<ng-container *mat-sw-update="let available$; let ctrl = controller">
  <button (click)="ctrl.checkForUpdate()">Check for Update</button>
  <button (click)="ctrl.forceNotification()">
    {{ (available$ | async) ? 'Update available' : 'No update available' }}
  </button>
</ng-container>


<table>
  <tr>
    <th>Checks</th>
    <th>Updates</th>
  </tr>
  <tr>
    <td>
      <ul>
        <li *ngFor="let check of checks">{{ check | date:"yyyy/MM/dd HH:mm:ss" }}</li>
      </ul>
    </td>
    <td>
      <ul>
        <li *ngFor="let update of updates">{{ update | date:"yyyy/MM/dd HH:mm:ss" }}</li>
      </ul>
    </td>
  </tr>
</table>
